---
import Header from '@/components/Header.astro';
import PostPreview from '@/components/PostPreview.astro';
import Page from '@/components/Page.astro';
import Pagination from '@/components/Pagination.astro';

export async function getStaticPaths({ paginate }) {

  let allPosts = await Astro.glob('../blog/*.md')
  allPosts = allPosts.sort(
    (a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf())

  return paginate(allPosts, { pageSize: 10 });
}
// All paginated data is passed on the "page" prop
const { page } = Astro.props;

const title = 'Blog';
const description = 'This is where I put my thoughts into writing';
---

<Page {title} {description}>
  <Header {title} {description} />
  <hr />
  <main>
    {page.data.map((p: object) => <PostPreview post={p} />)}
  </main>
  <Pagination {page} />
</Page>
