---
export interface Props {
  title: string;
  description: string;
  post?: {
    created: string,
    updated: string,
    hero?: string,
    tags: Array<string>
  };
  project?: {
    created: string,
    thumbnail: string,
    stack: Array<string>
  };
}

const { title, description, post, project } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const permalink = `${canonicalURL.href}`;
const datetime = (date: string) => new Date(date).toISOString();
const image = project
  ? '/assets/project/' + project.thumbnail
  : post && post.hero
    ? '/assets/hero/' + post.hero
    : '/assets/logo.png';
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/png" href="/favicon.png" />

<title>{title} // sglkc</title>
<meta name="title" content={title + ' // sglkc'} />
<meta name="description" content={description} />
<meta name="theme-color" content="#ECC7BC" />

<meta property="og:type" content={post || project ? 'article' : 'website'} />
<meta property="og:url" content={permalink} />
<meta property="og:title" content={title + ' // sglkc'} />
<meta property="og:description" content={description} />
<meta property="og:image" content={image} />

<meta property="twitter:card" content="summary" />
<meta property="twitter:url" content={permalink} />
<meta property="twitter:title" content={title + ' // sglkc'} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={image} />

{ post && (
  <>
    <meta property="article:published_time" content={datetime(post.created)} />
    <meta property="article:modified_time" content={datetime(post.updated)} />
    <meta property="article:author" content="sglkc" />
    <meta property="article:section" content="Blog" />
    <meta property="article:tag" content={post.tags.join(',')} />
  </>
)}

{ project && (
  <>
    <meta property="article:published_time" content={datetime(project.created)} />
    <meta property="article:author" content="sglkc" />
    <meta property="article:section" content="Project" />
    <meta property="article:tag" content={project.stack.join(',')} />
  </>
)}
