---
import BaseHead from "./BaseHead.astro";
import '@fontsource/nunito/variable.css';
import '@fontsource/overpass-mono';
import '@style.css';

export interface Props {
  title: string;
  description: string;
  post?: {
    created: string,
    updated: string,
    hero?: string,
    tags: Array<string>
  };
  project?: {
    created: string,
    thumbnail: string,
    stack: Array<string>
  };
}

const { title, description, post, project } = Astro.props;
const language = "en-us";
---

<html lang={language}>
  <head>
    <BaseHead {title} {description} {post} {project} />
  </head>

  <body class="mx-auto p-8 pt-16 font-overpass bg-stone-100 dark:bg-gray-900 transition-colors prose text-[0.95em] sm:text-base dark:prose-invert max-w-screen sm:w-[72ch] overflow-x-hidden">
    <slot />
    <script is:inline>
    const classList = document.documentElement.classList;

    if (
      localStorage.theme === 'dark' ||
        (
          !localStorage.theme &&
            window.matchMedia('(prefers-color-scheme: dark)').matches
        )
    ) {
      classList.add('dark');
    }

    function toggleTheme() {
      localStorage.theme = localStorage.theme === 'light' ? 'dark' : 'light';
      if (localStorage.theme === 'dark') classList.add('dark');
      else classList.remove('dark');
    }
    </script>
  </body>
</html>
