---
export interface Props {
  post: any;
}

const { post } = Astro.props;
const content = post.rawContent().replace(/ +/g, ' ');
const snippet = content.slice(0, 150) + (content.length > 150 ? '...' : '');
---

<a class="my-6 py-2 flex flex-col gap-4 no-underline" href={post.url}>
  <div class="flex justify-between">
    <h2 class="underline font-semibold my-0">{post.frontmatter.title}</h2>
    <p class="my-0 text-sm">{post.frontmatter.pubDate}</p>
  </div>
  <h4 class="font-light my-0">{post.frontmatter.description}</h4>
  <blockquote class="my-0">{snippet}</blockquote>
</a>
