---
import type { PostProps } from '@/types/Post';

const props = Astro.props as PostProps;
const { title, description, created, tags } = props.frontmatter;
---

<div class="my-6 py-2 flex flex-col gap-4">
  <p class="my-0 text-sm -mb-2">{created}</p>
  <a class="text-xl font-semibold my-0" href={props.url}>{title}</a>
  <h4 class="font-light my-0 text-sm sm:text-base">{description}</h4>
  <div class="flex flex-wrap gap-x-4 text-sm">
    { tags.map((tag: string) => <span>#{tag}</span>) }
  </div>
</div>
