---
import { Image } from '@astrojs/image/components';
import Navbar from '@/components/Navbar.astro';
import Footer from '@/components/Footer.astro';
import Page from '@/components/Page.astro';

export interface Props {
  content: {
    title: string,
    created: string,
    updated: string,
    tags: Array<string>,
    hero?: string,
    alt?: string
  };
  rawContent: Function;
}

const { content, rawContent } = Astro.props;
const { title, tags, created, updated, hero, alt } = content;
const snippet = rawContent().replace(/ +/g, ' ');
const description = snippet.slice(0, 150) + (snippet.length > 150 ? '...' : '');
---

<Page {title} {description} post={content}>
  <Navbar style="-mt-6 justify-center" />
  <div class="text-center">
    <h1 class="text-3xl font-semibold mt-8 sm:mt-6">{title}</h1>
    { hero && (
      <Image
        src={'/assets/hero/' + hero}
        alt={alt}
        width="full"
        height="full"
        draggable="false"
      />
    )}
    <div class="flex flex-wrap gap-x-4 justify-center mb-6">
      { tags.map((tag: string) => <span>#{tag}</span>) }
    </div>
    <div class="mt-4 flex flex-col gap-1">
      <p class="my-0 text-sm">Date Posted: {created}</p>
      <p class="my-0 text-sm">Last Updated: {updated}</p>
    </div>
  </div>
  <hr />
  <slot />
  <Footer />
</Page>
