---
import Default from "./Default.astro";

const { content } = Astro.props;
const { title, description, pubDate, heroImage, alt } = content;
---

<Default {content}>
  {
  heroImage && (
    <div>
      <img class="w-full" loading="eager" src={heroImage} alt={alt} />
    </div>
  )
  }

  <div class="">
    <div class="text-lg">
      <h1 class="text-2xl font-semibold mt-8">{title}</h1>
      <p class="font-extralight mb-8">{pubDate}</p>

      <div>
        <p class="text-lg my-6">
          {description}
        </p>
      </div>
      <div class="text-lg">
        <slot />
      </div>
    </div>
  </div>
</Default>
