---
import Navbar from '@/components/Navbar.astro';
import Footer from '@/components/Footer.astro';
import Page from '@/components/Page.astro';

export interface Props {
  content: {
    title: string,
    description: string,
    footer?: string
  };
}

const { content } = Astro.props;
const { title, description, footer } = content;
---

<Page {title} {description}>
  <h1 class="text-3xl font-semibold mb-2">{title}</h1>
  <h2 class="text-xl font-normal mt-0 mb-2">{description}</h2>
  <Navbar />
  <hr />
  <slot />
  <Footer {footer} />
</Page>
