---
import type PageProps from '@/types/Page';
import Footer from '@/components/Footer.astro';
import Navbar from '@/components/Navbar.astro';
import BaseLayout from './BaseLayout.astro';

type Props = PageProps;

const props = Astro.props as Props;
const { title, description, footer } = props.frontmatter ?? props;
---

<BaseLayout {title} {description}>
  <header class="mt-8">
    <h1 class="text-3xl font-semibold mt-0 mb-2">{ title }</h1>
    <h2 class="text-xl font-normal my-0">{ description }</h2>
  </header>
  <Navbar sticky={true} grow={true} />
  <hr />
  <main class="my-12">
    <slot />
  </main>
  <Footer {footer} />
</BaseLayout>
